{{#if products.length}}
    {{#each products }}
    <ul>
        <li>{{this.name}}</li>
        <li>${{price}}</li>
        <li>{{this.description}}</li>
    </ul>
    {{/each}}
{{else}}
    <h1>No hay productos</h1>
{{/if}}
    <button id="realTimeProductsButton">Real Time Products</button>