<h2>Socket cliente</h2>

<form id="form">
  <label>product:</label><input type="text" name="name" id="name"/>
  <label>price: </label><input type="text" name="price" id="price"/>
  <label>Description: </label><input type="text" name="description" id="description"/>
  <input type="submit" value="send">
</form>

<p id="products">
</p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>